.main_div_posts {
  background: var(--main-Color);
  width: 100%;
  min-width: 440px;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-Text);
}

.posts_div_error {
  font-weight: bold;
}
