.main_div {
  background: var(--main-Color);
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-Text);
}

.array {
  position: absolute;
  top: 190px;
  left: 0;
}

.table_edit {
  width: 50%;
}

table tr td {
  border: 1px solid;
}

.delete_button {
  padding: 5px;
  border-radius: 5px;
  color: var(--color-Text);
  background: var(--delete-button-background);
  width: 100%;
}

.edit_button {
  width: 100%;
  background: var(--edit-button-background);
  color: var(--color-Text);
  border-radius: 5px;
  padding: 5px;
}
